In [1]:
#Import dependencies
import sys
!{sys.executable} -m pip install ta
import os
import pandas as pd
import ta
import matplotlib.pyplot as plt
from collections import OrderedDict
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
import warnings
import numpy as np
import datetime as dt
warnings.filterwarnings('ignore')

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from sklearn.model_selection import train_test_split
import pickle

import requests
import json
from datetime import datetime, timedelta

Requirement already satisfied: ta in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (0.7.0)
Requirement already satisfied: numpy in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.17.0)
Requirement already satisfied: pandas in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from python-dateutil>=2.6.1->pandas->ta) (1.15.0)

In [2]:
# load the model
filename = 'finalized_model.sav'
 
loaded_model = pickle.load(open(filename, 'rb'))

In [3]:
#Create engine
engine = create_engine('postgres://postgres:Paraguay-1@localhost/BTC')

In [4]:
btc_df= pd.DataFrame()
btc_df= pd.read_sql('SELECT * FROM btc', con=engine)
lastdate_df= btc_df.tail(1)['date']
lastdate_df

2197    9/23/2020
Name: date, dtype: object

In [5]:
actualdate_df= datetime.date(datetime.now()).strftime('%m/%d/%Y')
actualdate_df

'01/16/2021'

In [6]:
# date difference
actualdate_df = pd.to_datetime(actualdate_df)
lastdate_df = pd.to_datetime(lastdate_df)
date_df= (actualdate_df - lastdate_df).dt.days
date_df= int(date_df)
print(date_df)

115

In [7]:
# Which asset are we trying to retrieve?
asset = "XXBTZUSD"

# 1440 
interval = "1440"

prices = requests.request("GET", url = f"https://api.kraken.com/0/public/OHLC?pair={asset}&interval={interval}").json()

price_list = prices["result"]["XXBTZUSD"]

dataframe_list = []

for i in price_list:
    # <time>, <open>, <high>, <low>, <close>, <vwap>, <volume>, <count>
    local_dict = {}
    
    dt = (datetime.utcfromtimestamp(i[0])).strftime('%m/%d/%Y')
    local_dict["date"] = dt
    local_dict["open"] = i[1]
    local_dict["high"] = i[2]
    local_dict["low"] = i[3]
    local_dict["close"] = i[4]
    local_dict["adjclose"] = i[5]
    local_dict["volume"] = i[6]

    # Add to our dataframe
    dataframe_list.append(local_dict)

btcusd = pd.DataFrame(dataframe_list)

btcusd_update= btcusd.tail(date_df)
btcusd_update= btcusd_update.set_index("date", drop=True, append=False, inplace=False, verify_integrity=False)
btcusd_update

# for i in prices:
#     print(i)
# print(json.dumps(prices, indent = 2))

               open     high      low    close adjclose          volume
date
09/24/2020  10230.7  10788.3  10192.4  10740.2  10505.6   4593.25293705
09/25/2020  10738.9  10761.6  10565.0  10695.1  10666.4   3847.35826784
09/26/2020  10695.1  10695.1  10695.1  10695.1      0.0      0.00000000
09/27/2020  10695.1  10695.1  10695.1  10695.1      0.0      0.00000000
09/28/2020  10695.1  10695.1  10695.1  10695.1      0.0      0.00000000
...             ...      ...      ...      ...      ...             ...
01/12/2021  35444.0  36626.6  32416.8  34046.4  34657.8  13744.95201747
01/13/2021  34038.2  37820.0  32349.9  37390.1  34904.4  13128.53982254
01/14/2021  37390.1  40115.0  36676.6  39151.6  38628.3  10488.49678433
01/15/2021  39121.5  39686.1  34371.0  36739.8  36641.1  13486.03839009
01/16/2021  36744.6  37947.5  35557.0  37127.8  37055.5   5820.12008147

[115 rows x 6 columns]

In [8]:
btcusd_update.to_sql(name='btc', con=engine, if_exists="append")

In [9]:
btc_df= pd.read_sql('SELECT * FROM btc', con=engine)

In [10]:
btc_df.to_csv(r'C:\Users\marianaga\Class\Stock-Markets\updatedb.csv', index = False, header = True)

In [11]:
def day_of_week_standard_form(string_date):
    date_object = dt.datetime.strptime(string_date, "%m/%d/%Y")
    return date_object.dayofweek

# btc_df["Weekday"] = btc_df["Date"].map(day_of_week_standard_form)
btc_df["date"] = pd.to_datetime(btc_df["date"])
btc_df["Weekday"] = btc_df["date"].dt.dayofweek

In [12]:
btc_df.dropna(inplace = True)

In [13]:
#Str to number
btc_df["open"] = pd.to_numeric(btc_df["open"])
btc_df["high"] = pd.to_numeric(btc_df["high"])
btc_df["low"] = pd.to_numeric(btc_df["low"])
btc_df["close"] = pd.to_numeric(btc_df["close"])
btc_df["adjclose"] = pd.to_numeric(btc_df["adjclose"])
btc_df["volume"] = pd.to_numeric(btc_df["volume"])

In [14]:
# Exponential Moving Averages indicators
ema_6 = ta.trend.ema_indicator(close = btc_df["close"], window = 6)
ema_12 = ta.trend.ema_indicator(close = btc_df["close"], window = 12)
ema_24 = ta.trend.ema_indicator(close = btc_df["close"], window = 24)

# RSI indicators
rsi_14 = ta.momentum.RSIIndicator(btc_df["close"], window = 14)
rsi_7 = ta.momentum.RSIIndicator(btc_df["close"], window = 7)
rsi_28 = ta.momentum.RSIIndicator(btc_df["close"], window = 28)


# Create new columns based on the indicators
btc_df["ema_6"] = ema_6
btc_df["ema_12"] = ema_12
btc_df["ema_24"] = ema_24
btc_df["p_ema_6"] = btc_df["ema_6"] / btc_df["close"]
btc_df["p_ema_12"] = btc_df["ema_12"] / btc_df["close"]
btc_df["p_ema_24"] = btc_df["ema_24"] / btc_df["close"]
btc_df["rsi_7"] = rsi_7.rsi()
btc_df["rsi_14"] = rsi_14.rsi()
btc_df["rsi_28"] = rsi_28.rsi()

In [15]:
# last row
btclastrow_df = btc_df.iloc[[-1]]
btclastrow_df

,date,open,high,low,close,adjclose,volume,Weekday,ema_6,ema_12,ema_24,p_ema_6,p_ema_12,p_ema_24,rsi_7,rsi_14,rsi_28
2312,2021-01-16,36744.6,37947.5,35557.0,37127.8,37055.5,5820.120081,5,37142.007041,36197.848586,33227.512905,1.000383,0.974953,0.89495,55.69603,62.185189,66.057063

In [16]:
# Input
X = btclastrow_df[["ema_6", "ema_12", "ema_24", "p_ema_6", "p_ema_12", "p_ema_24", "rsi_7", "rsi_14", "rsi_28", "Weekday"]]

In [17]:
loaded_model.predict(X)

array(['SHORT'], dtype=object)

In [18]:
finalbtc_df= btc_df.loc[:, ['date', 'open', 'high','low','close']]
finalbtc_df.head()

        date        open        high         low       close
0 2014-09-17  465.864014  468.174011  452.421997  457.334015
1 2014-09-18  456.859985  456.859985  413.104004  424.440002
2 2014-09-19  424.102997  427.834991  384.532013  394.795990
3 2014-09-20  394.673004  423.295990  389.882996  408.903992
4 2014-09-21  408.084991  412.425995  393.181000  398.821014

In [19]:
finalbtc_df = finalbtc_df.tail(1)
finalbtc_df['prediction']= loaded_model.predict(X)
finalbtc_df

           date     open     high      low    close prediction
2312 2021-01-16  36744.6  37947.5  35557.0  37127.8      SHORT

In [20]:
# new csv
finalbtc_df.to_csv(r'C:\Users\marianaga\Class\Stock-Markets\projection.csv', index = False, header = True)