In [1]:
#Import dependencies
import sys
!{sys.executable} -m pip install ta
import os
import pandas as pd
import ta
import matplotlib.pyplot as plt
from collections import OrderedDict
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
import warnings
import numpy as np
import datetime as dt
warnings.filterwarnings('ignore')

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from sklearn.model_selection import train_test_split
import pickle

Requirement already satisfied: ta in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (0.7.0)
Requirement already satisfied: numpy in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.17.0)
Requirement already satisfied: pandas in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from python-dateutil>=2.6.1->pandas->ta) (1.15.0)

In [2]:
# load the model
filename = 'finalized_model.sav'
 
loaded_model = pickle.load(open(filename, 'rb'))

In [5]:
#Create engine
engine = create_engine('postgres://postgres:Paraguay-1@localhost/BTC')

In [6]:
btc_df= pd.DataFrame()
btc_df= pd.read_sql('SELECT * FROM btc', con=engine)

In [7]:
def day_of_week_standard_form(string_date):
    date_object = dt.datetime.strptime(string_date, "%m/%d/%Y")
    return date_object.dayofweek

# btc_df["Weekday"] = btc_df["Date"].map(day_of_week_standard_form)
btc_df["date"] = btc_df["date"].map(lambda x: dt.datetime.strptime(x, "%m/%d/%Y"))
btc_df["Weekday"] = btc_df["date"].dt.dayofweek

In [8]:
btc_df.dropna(inplace = True)

In [9]:
#Str to number
btc_df["open"] = pd.to_numeric(btc_df["open"])
btc_df["high"] = pd.to_numeric(btc_df["high"])
btc_df["low"] = pd.to_numeric(btc_df["low"])
btc_df["close"] = pd.to_numeric(btc_df["close"])
btc_df["adjclose"] = pd.to_numeric(btc_df["adjclose"])
btc_df["volume"] = pd.to_numeric(btc_df["volume"])

In [10]:
# Exponential Moving Averages indicators
ema_6 = ta.trend.ema_indicator(close = btc_df["close"], window = 6)
ema_12 = ta.trend.ema_indicator(close = btc_df["close"], window = 12)
ema_24 = ta.trend.ema_indicator(close = btc_df["close"], window = 24)

# RSI indicators
rsi_14 = ta.momentum.RSIIndicator(btc_df["close"], window = 14)
rsi_7 = ta.momentum.RSIIndicator(btc_df["close"], window = 7)
rsi_28 = ta.momentum.RSIIndicator(btc_df["close"], window = 28)


# Create new columns based on the indicators
btc_df["ema_6"] = ema_6
btc_df["ema_12"] = ema_12
btc_df["ema_24"] = ema_24
btc_df["p_ema_6"] = btc_df["ema_6"] / btc_df["close"]
btc_df["p_ema_12"] = btc_df["ema_12"] / btc_df["close"]
btc_df["p_ema_24"] = btc_df["ema_24"] / btc_df["close"]
btc_df["rsi_7"] = rsi_7.rsi()
btc_df["rsi_14"] = rsi_14.rsi()
btc_df["rsi_28"] = rsi_28.rsi()

In [11]:
# last row
btclastrow_df = btc_df.iloc[[-1]]
btclastrow_df

,date,open,high,low,close,adjclose,volume,Weekday,ema_6,ema_12,ema_24,p_ema_6,p_ema_12,p_ema_24,rsi_7,rsi_14,rsi_28
2197,2020-09-23,10541.75586,10586.85352,10398.07129,10469.53711,10469.53711,27903569920,2,10641.05994,10686.953639,10778.723606,1.016383,1.020767,1.029532,38.333852,42.915031,46.921661

In [12]:
# Input
X = btclastrow_df[["ema_6", "ema_12", "ema_24", "p_ema_6", "p_ema_12", "p_ema_24", "rsi_7", "rsi_14", "rsi_28", "Weekday"]]

In [13]:
loaded_model.predict(X)

array(['LONG'], dtype=object)

In [17]:
finalbtc_df= btc_df.loc[:, ['date', 'open', 'high','low','close']]
finalbtc_df.head()

        date        open        high         low       close
0 2014-09-17  465.864014  468.174011  452.421997  457.334015
1 2014-09-18  456.859985  456.859985  413.104004  424.440002
2 2014-09-19  424.102997  427.834991  384.532013  394.795990
3 2014-09-20  394.673004  423.295990  389.882996  408.903992
4 2014-09-21  408.084991  412.425995  393.181000  398.821014

In [19]:
# new csv
finalbtc_df.to_csv(r'C:\Users\marianaga\Class\Stock-Markets\projection.csv', index = False, header = True)