In [16]:
#Import dependencies
import sys
!{sys.executable} -m pip install ta
import os
import pandas as pd
import ta
import matplotlib.pyplot as plt
from collections import OrderedDict
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
import warnings
import numpy as np
import datetime as dt
warnings.filterwarnings('ignore')

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from sklearn.model_selection import train_test_split
import pickle

Requirement already satisfied: ta in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (0.7.0)
Requirement already satisfied: numpy in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.17.0)
Requirement already satisfied: pandas in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from python-dateutil>=2.6.1->pandas->ta) (1.15.0)

In [2]:
#Create engine
engine = create_engine('postgres://postgres:postgress@localhost/BTC')

In [4]:
emabtc_df= pd.DataFrame()
emabtc_df= pd.read_sql('SELECT * FROM emabtc', con=engine)

In [5]:
emabtc_df

,index,date,open,high,low,close,adjclose,volume,Max_3,Min_3,...,Weekday,ema_6,ema_12,ema_24,p_ema_6,p_ema_12,p_ema_24,rsi_7,rsi_14,rsi_28
0,0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,456.859985,384.532013,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,427.834991,384.532013,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,423.295990,389.882996,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,441.557007,393.181000,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,441.557007,396.196991,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2193,2193,2020-09-19,10933.752930,11134.092770,10909.618160,11094.346680,11094.346680,22764204008,11095.870120,10380.260740,...,5,10891.005262,10792.500155,10853.972366,0.981672,0.972793,0.978334,67.845971,54.926666,52.818823
2194,2194,2020-09-20,11095.870120,11095.870120,10814.477540,10938.271480,10938.271480,24699523788,10988.304690,10380.260740,...,6,10904.509896,10814.926512,10860.716295,0.996913,0.988724,0.992910,57.315858,51.402828,51.233392
2195,2195,2020-09-21,10934.925780,10988.304690,10380.260740,10462.259770,10462.259770,28884999244,10586.853520,10382.726560,...,0,10778.152717,10760.670090,10828.839773,1.030194,1.028523,1.035038,36.924258,42.456491,46.791166
2196,2196,2020-09-22,10459.624020,10568.077150,10382.726560,10538.459960,10538.459960,23621787804,10586.853520,10398.071290,...,1,10709.669072,10726.483917,10805.609388,1.016246,1.017842,1.025350,40.854196,44.132741,47.546184
2197,2197,2020-09-23,10541.755860,10586.853520,10398.071290,10469.537110,10469.537110,27903569920,NaN,NaN,...,2,10641.059940,10686.953639,10778.723606,1.016383,1.020767,1.029532,38.333852,42.915031,46.921661

In [10]:
emabtc_df.dropna(inplace = True)

In [14]:
RANDOM_STATE = 123

X = emabtc_df[["ema_6", "ema_12", "ema_24", "p_ema_6", "p_ema_12", "p_ema_24", "rsi_7", "rsi_14", "rsi_28", "Weekday"]]

y = emabtc_df["Choice_3"]

labels = []

clf = RandomForestClassifier(warm_start=True, max_features='auto',
                               oob_score=True,
                               random_state=RANDOM_STATE)

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

clf.set_params(n_estimators=400)

clf.fit(X_train, y_train)

# Record the OOB error for each `n_estimators=i` setting.
oob_error = 1 - clf.oob_score_
oob_error_test = 1 - clf.score(X_test, y_test)

In [17]:
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(clf, open(filename, 'wb'))
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))