In [12]:
#Import dependencies
import sys
!{sys.executable} -m pip install ta
import os
import pandas as pd
import ta
import matplotlib.pyplot as plt
from collections import OrderedDict
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
import warnings
import numpy as np
import datetime as dt
warnings.filterwarnings('ignore')

Requirement already satisfied: ta in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (0.7.0)
Requirement already satisfied: numpy in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.17.0)
Requirement already satisfied: pandas in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from ta) (1.0.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from pandas->ta) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\marianaga\anaconda3\envs\mlenv\lib\site-packages (from python-dateutil>=2.6.1->pandas->ta) (1.15.0)

In [13]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [14]:
#Create engine
engine = create_engine('postgres://postgres:Paraguay-1@localhost/BTC')

In [15]:
btc_df= pd.DataFrame()
btc_df= pd.read_sql('SELECT * FROM btc', con=engine)

In [16]:
btc_df

,date,open,high,low,close,adjclose,volume
0,9/17/2014,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,9/18/2014,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,9/19/2014,424.102997,427.834991,384.532013,394.79599,394.79599,37919700
3,9/20/2014,394.673004,423.29599,389.882996,408.903992,408.903992,36863600
4,9/21/2014,408.084991,412.425995,393.181,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2193,9/19/2020,10933.75293,11134.09277,10909.61816,11094.34668,11094.34668,22764204008
2194,9/20/2020,11095.87012,11095.87012,10814.47754,10938.27148,10938.27148,24699523788
2195,9/21/2020,10934.92578,10988.30469,10380.26074,10462.25977,10462.25977,28884999244
2196,9/22/2020,10459.62402,10568.07715,10382.72656,10538.45996,10538.45996,23621787804
2197,9/23/2020,10541.75586,10586.85352,10398.07129,10469.53711,10469.53711,27903569920

In [17]:
btc_df.dropna(inplace = True)

In [18]:
#Str to number
btc_df["open"] = pd.to_numeric(btc_df["open"])
btc_df["high"] = pd.to_numeric(btc_df["high"])
btc_df["low"] = pd.to_numeric(btc_df["low"])
btc_df["close"] = pd.to_numeric(btc_df["close"])
btc_df["adjclose"] = pd.to_numeric(btc_df["adjclose"])
btc_df["volume"] = pd.to_numeric(btc_df["volume"])

In [19]:
def label_dataset(t_horizon):
    for row in btc_df.index:
        if row < len(btc_df.index)-1:
            
            # Calculate the maximum value for the next t_horizon rows of high values.
            btc_df.loc[row, f"Max_{t_horizon}"] = max(btc_df.loc[(row + 1):(row + t_horizon), "high"]) 
            
            # Calculate the minimum value for the next t_horizon rows of low values.
            btc_df.loc[row, f"Min_{t_horizon}"] = min(btc_df.loc[(row+1):(row+t_horizon), "low"])
            
            # Calculate the percentage gain from going long if exits at optimal price next 3 days
            btc_df.loc[row, f"Max_{t_horizon}_Percent_Increase"] = ((btc_df.loc[row, f"Max_{t_horizon}"] - 
                                                                     btc_df.loc[row, "close"]) / btc_df.loc[row, "close"])
           
            # Calculate the percentage gain from going Short if exits at optimal price next 3 days 
            btc_df.loc[row, f"Min_{t_horizon}_Percent_Increase"] = ((btc_df.loc[row, "close"] - 
                                                                     btc_df.loc[row, f"Min_{t_horizon}"]) / btc_df.loc[row, "close"])
            
            # What was the optimal move? (SHORT or LONG)
            btc_df.loc[row, f"Choice_{t_horizon}"] = "LONG" if btc_df.loc[row, f"Max_{t_horizon}_Percent_Increase"] > btc_df.loc[row, f"Min_{t_horizon}_Percent_Increase"] else "SHORT"
            
            # What is the optimate gain?
            btc_df.loc[row, f"Gain_{t_horizon}"] = btc_df.loc[row, f"Max_{t_horizon}_Percent_Increase"] if btc_df.loc[row, f"Max_{t_horizon}_Percent_Increase"] > btc_df.loc[row, f"Min_{t_horizon}_Percent_Increase"] else btc_df.loc[row, f"Min_{t_horizon}_Percent_Increase"]

label_dataset(3)
label_dataset(6)

In [21]:
maxbtc_df= btc_df
maxbtc_df

,date,open,high,low,close,adjclose,volume,Max_3,Min_3,Max_3_Percent_Increase,Min_3_Percent_Increase,Choice_3,Gain_3,Max_6,Min_6,Max_6_Percent_Increase,Min_6_Percent_Increase,Choice_6,Gain_6
0,9/17/2014,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,456.859985,384.532013,-0.001037,0.159188,SHORT,0.159188,456.859985,384.532013,-0.001037,0.159188,SHORT,0.159188
1,9/18/2014,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,427.834991,384.532013,0.007999,0.094025,SHORT,0.094025,441.557007,384.532013,0.040328,0.094025,SHORT,0.094025
2,9/19/2014,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,423.295990,389.882996,0.072189,0.012444,LONG,0.072189,441.557007,389.882996,0.118443,0.012444,LONG,0.118443
3,9/20/2014,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,441.557007,393.181000,0.079855,0.038452,LONG,0.079855,441.557007,393.181000,0.079855,0.038452,LONG,0.079855
4,9/21/2014,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,441.557007,396.196991,0.107156,0.006579,LONG,0.107156,441.557007,396.196991,0.107156,0.006579,LONG,0.107156
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2193,9/19/2020,10933.752930,11134.092770,10909.618160,11094.346680,11094.346680,22764204008,11095.870120,10380.260740,0.000137,0.064365,SHORT,0.064365,11095.870120,10380.260740,0.000137,0.064365,SHORT,0.064365
2194,9/20/2020,11095.870120,11095.870120,10814.477540,10938.271480,10938.271480,24699523788,10988.304690,10380.260740,0.004574,0.051015,SHORT,0.051015,10988.304690,10380.260740,0.004574,0.051015,SHORT,0.051015
2195,9/21/2020,10934.925780,10988.304690,10380.260740,10462.259770,10462.259770,28884999244,10586.853520,10382.726560,0.011909,0.007602,LONG,0.011909,10586.853520,10382.726560,0.011909,0.007602,LONG,0.011909
2196,9/22/2020,10459.624020,10568.077150,10382.726560,10538.459960,10538.459960,23621787804,10586.853520,10398.071290,0.004592,0.013322,SHORT,0.013322,10586.853520,10398.071290,0.004592,0.013322,SHORT,0.013322
2197,9/23/2020,10541.755860,10586.853520,10398.071290,10469.537110,10469.537110,27903569920,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
maxbtc_df.to_sql(name='maxbtc', con=engine)

In [27]:
def day_of_week_standard_form(string_date):
    date_object = dt.datetime.strptime(string_date, "%m/%d/%Y")
    return date_object.dayofweek

# btc_df["Weekday"] = btc_df["Date"].map(day_of_week_standard_form)
maxbtc_df["date"] = maxbtc_df["date"].map(lambda x: dt.datetime.strptime(x, "%m/%d/%Y"))
maxbtc_df["Weekday"] = maxbtc_df["date"].dt.dayofweek

In [31]:
# Exponential Moving Averages indicators
ema_6 = ta.trend.ema_indicator(close = maxbtc_df["close"], window = 6)
ema_12 = ta.trend.ema_indicator(close = maxbtc_df["close"], window = 12)
ema_24 = ta.trend.ema_indicator(close = maxbtc_df["close"], window = 24)

# RSI indicators
rsi_14 = ta.momentum.RSIIndicator(maxbtc_df["close"], window = 14)
rsi_7 = ta.momentum.RSIIndicator(maxbtc_df["close"], window = 7)
rsi_28 = ta.momentum.RSIIndicator(maxbtc_df["close"], window = 28)


# Create new columns based on the indicators
maxbtc_df["ema_6"] = ema_6
maxbtc_df["ema_12"] = ema_12
maxbtc_df["ema_24"] = ema_24
maxbtc_df["p_ema_6"] = maxbtc_df["ema_6"] / maxbtc_df["close"]
maxbtc_df["p_ema_12"] = maxbtc_df["ema_12"] / maxbtc_df["close"]
maxbtc_df["p_ema_24"] = maxbtc_df["ema_24"] / maxbtc_df["close"]
maxbtc_df["rsi_7"] = rsi_7.rsi()
maxbtc_df["rsi_14"] = rsi_14.rsi()
maxbtc_df["rsi_28"] = rsi_28.rsi()

In [32]:
emabtc_df= maxbtc_df
emabtc_df

,date,open,high,low,close,adjclose,volume,Max_3,Min_3,Max_3_Percent_Increase,...,Weekday,ema_6,ema_12,ema_24,p_ema_6,p_ema_12,p_ema_24,rsi_7,rsi_14,rsi_28
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,456.859985,384.532013,-0.001037,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,427.834991,384.532013,0.007999,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,423.295990,389.882996,0.072189,...,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600,441.557007,393.181000,0.079855,...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100,441.557007,396.196991,0.107156,...,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2193,2020-09-19,10933.752930,11134.092770,10909.618160,11094.346680,11094.346680,22764204008,11095.870120,10380.260740,0.000137,...,5,10891.005262,10792.500155,10853.972366,0.981672,0.972793,0.978334,67.845971,54.926666,52.818823
2194,2020-09-20,11095.870120,11095.870120,10814.477540,10938.271480,10938.271480,24699523788,10988.304690,10380.260740,0.004574,...,6,10904.509896,10814.926512,10860.716295,0.996913,0.988724,0.992910,57.315858,51.402828,51.233392
2195,2020-09-21,10934.925780,10988.304690,10380.260740,10462.259770,10462.259770,28884999244,10586.853520,10382.726560,0.011909,...,0,10778.152717,10760.670090,10828.839773,1.030194,1.028523,1.035038,36.924258,42.456491,46.791166
2196,2020-09-22,10459.624020,10568.077150,10382.726560,10538.459960,10538.459960,23621787804,10586.853520,10398.071290,0.004592,...,1,10709.669072,10726.483917,10805.609388,1.016246,1.017842,1.025350,40.854196,44.132741,47.546184
2197,2020-09-23,10541.755860,10586.853520,10398.071290,10469.537110,10469.537110,27903569920,NaN,NaN,NaN,...,2,10641.059940,10686.953639,10778.723606,1.016383,1.020767,1.029532,38.333852,42.915031,46.921661

In [33]:
emabtc_df.to_sql(name='emabtc', con=engine)